a {
    color: #000000;
    font-size: large;
    font-family: Titillium Web;
    font-weight: 500;

    padding-top: 10px;
}

a:hover {
    text-decoration: none;
    color:#000000;
}

.link:hover {
    background-color:rgba(88, 88, 88, 0.2);
}

.logo {
    height: 30px;
    margin-top: 10px;
}

.navbar {
    background-color: white;
    margin: 0;
    border-color: white;
    border-bottom-color: #7f7f7f;
}


.nav {
}

.flag {
    height: 14px;
    margin-bottom: 0px;
}

